<div class="large-12 sg">
    <div class="large-3 columns">
        Welcome {{userName}}!
        &nbsp &nbsp <a href="#/mypost" class="button">My Posts</a>
    </div>
    <div class="large-8 columns">
        <a href="#/home" ng-click="SignOut()"> <i class="fa fa-sign-out" aria-hidden="true"> Sign Out </i> </a>
    </div>
</div>

<div class="large-10 large-centered" id="details">
    <div class="large-12">
        <div class="large-12 description columns">
            <div class="search large-8 large-centered">
                Location : <input ng-model ="attraction.place" placeholder = "Search.." class = "searchcontent" id="searchTextField">
            </div>

            <div class="search large-8 large-centered">
                Description : <input ng-model ="attraction.describe" placeholder = "Why is it so special?" class = "searchcontent">
            </div>

            <div class="search large-4 columns">
                Price : <input ng-model ="attraction.price" placeholder = "How much did you spend on it?" class = "searchcontent">
            </div>

            <div class="search large-4 columns">
                Time : <input ng-model ="attraction.tym" placeholder = "How long did it take to cover the attraction?" class = "searchcontent">
            </div>

            <div class="search large-4 columns">
                Rating : 
                <select ng-model ="attraction.rating">
                    <option value="0">--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>   
            </div>

            <center><a class="button" ng-click="SendDetailData()">Submit</a></center>
        </div>
    </div>
</div>