<div class="large-12 sg">
    <div class="large-3 columns">
        Welcome {{userName}}!
        &nbsp &nbsp <a href="#/mypost" ng-show="if_loggedIn" class="button">My Posts</a>
    </div>
    <div class="large-8 columns">
        <a href="#/home" ng-show="if_loggedIn" ng-click="SignOut()"> <i class="fa fa-sign-out" aria-hidden="true"> Sign Out </i> </a>
    </div>
</div>
<div class="large-12 large-centered" id = "main">
    <div class="search large-8 large-centered">
        <input ng-model ="query" placeholder = "Search.." class = "searchcontent" id="searchTextField">
    </div>
    <div class = "large-centered large-10 filteroptions">
        <div class="large-4 text-center columns">
            <div class = "large-12 text-center">Time :
                <input ng-model ="attraction.tym" type = "text large-1" placeholder = "in minutes">
            </div>
        </div>

        <div class="large-4 text-center columns">
            <div class = "large-12 text-center">Cost :
                <input ng-model ="attraction.price" type = "text large-1" placeholder = "in $">
            </div>
        </div>

        <div class="large-4 text-center columns">
            <div class = "large-12 text-center">Rating :
                <select class = "large-4" ng-model ="attraction.rating">
                    <option value="0">--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>

    <div class = "large-12 lager-centered setFilter">
        <center>
            <a class="button text-center" ng-click= "SendFilterData()">Set</a>
            <a class="button text-center" ng-click= "sendHeatMapData()">Heat Map</a>
        </center>
    </div>

    <div class="large-11 large-centered">
        <div class="large-7 total columns">
            <h3> Posts: </h3>
            <div ng-repeat="item in locations | filter:query" class="large-12 location">
                <div class="large-12 large-centered locationcontent">
                    <h3><b>{{item.LocationName}} </b> ({{item.Rating}}/5) </h3>
                    <h5><b>User Name:</b> {{item.UserName}}</h5>
                    <h6><b>Description:</b> {{item.Description}}</h6>
                    <h6><b>Price:</b> {{item.Price}}</h6>
                    <h6><b>Time:</b> {{item.Time}}</h6>
                    <h7 class="fa fa-thumbs-o-up" ng-model="upv" ng-click="votes(1, locations.indexOf(item))">{{item.UpVotes}} </h7>
                    <h7 class="fa fa-thumbs-o-down" ng-model="dwnv" ng-click="votes(-1,locations.indexOf(item))">{{item.DownVotes}} </h7>
                </div>
            </div>
        </div>
        <div class="large-3 total columns">
            <h3> Recommedations: </h3>
            <div ng-repeat="item in recommended_posts | filter:query" class="location">
                <div class="large-centered locationcontent">
                    <h3><b>{{item.LocationName}} </b> ({{item.Rating}}/5) </h3>
                </div>
            </div>
        </div>
    </div>
</div>