<div class="large-10 large-centered" id = "signup">
	<div class="search large-8 large-centered">
		<label>Username</label>
		<input ng-model ="user.username" placeholder = "Username" class = "searchcontent">

		<label>Email-Id</label>
		<input ng-model ="user.email" placeholder = "Email-Id" class = "searchcontent">

		<label>Full Name</label>
		<input ng-model ="user.fullname" placeholder = "Full Name" class = "searchcontent">

		<label>Password</label>
		<input type="password" ng-model ="user.password" placeholder = "Password" class = "searchcontent">

		<label>Phone Number</label>
		<input ng-model ="user.number" placeholder = "Phone Number (optional)" class = "searchcontent">

		<center>
			<a class="small button" ng-click="SendSignUpData()">Sign Up</a> <br>
			or <a href = "#/login" class="l"> Login </a>
		</center>
	</div>
</div>