<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Touristy</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static' , filename= "css/styles.css")}}">
    <link rel="icon" href={{ url_for('static' , filename= "data/pics/t.ico")}}, type="image/x-icon"/>
    <!-- Angular Scripts -->
    <!-- NOTE: removing the ".min." can help debugging in the console-->
    <script src="{{ url_for('static' , filename= "lib/angular/angular.min.js")}}"></script>
    <script src="{{ url_for('static' , filename= "lib/angular-route/angular-route.min.js")}}"></script>
    <script src="{{ url_for('static' , filename= "js/app.js")}}"></script>
    <script src="{{ url_for('static' , filename= "js/script.js")}}"></script>
    <script src="{{ url_for('static' , filename= "js/controllers.js")}}"></script>
    <script src="{{ url_for('static' , filename= "js/ngAutocomplete.js")}}"></script>
</head>

<body ng-app="mp3">

    <!-- <div ng-view></div> -->

    <div class="large-6 large-centered heading text-center"> <a href = "#/home"> TOURISTY </a> </div>

    <div ng-view></div>

    <!-- Scripts -->

    <script src="{{ url_for('static' , filename= "lib/jquery-2.1.3.min/index.js")}}"></script>
    <script src="{{ url_for('static' , filename= "foundation6_lib/js/foundation.min.js")}}"></script>
    <script src="{{ url_for('static' , filename= "js/script.js")}}"></script>
    <script>
    $(document).foundation();
    </script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHYlhYzNEsbSVbORiZ2p6qMlYncqbvxGo&libraries=visualization,places">
    </script>
{#    <script src="http://localhost:35729/livereload.js"></script>#}
</body>
</html>
